################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Sc.AddressCheck/.vs/Sc.AddressCheck
/Sc.AddressCheck/obj
